body {
  font-size: 16px;
  color: #333;
  background-color: #fff;
  letter-spacing: 1px;
  font-family: "Love Ya Like A Sister", cursive;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  /*background-color: rgba(0, 0, 0, 0.4);*/
  background-color: rgba(0, 0, 0, 0.65);
}

.slides-navigation {
  z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
  width: clamp(23px, 4vw, 47px) /*4vw*/ /*47px*/;
  height: clamp(23px, 4vw, 47px) /*4vw*/ /*47px*/;
  background-size: cover;
  background-repeat: no-repeat;
}

.slides-navigation a.prev {
  left: clamp(4px, 2vw, 20px) /*20px*/;
  background-image: url(../img/icons/icons8-back-to-100.png);
}

.slides-navigation a.next {
  right: clamp(4px, 2vw, 20px) /*20px*/;
  background-image: url(../img/icons/icons8-next-page-100.png);
}

.titleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: clamp(-100px, -8vw, -60px); /*-125px*/
}

.titleMessage .heading p {
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  /*font-weight: 100;*/
  font-weight: 200;
  /*letter-spacing: 7px;*/
  letter-spacing: 1vw; /*13px;*/
}

.titleMessage .heading .main {
  /*font-size: 50px;*/
  font-size: clamp(28px, 6vw, 60px) /*6vw*/ /*60px*/;
}

.titleMessage .heading .sub {
  /*font-size: 23px;*/
  font-size: clamp(15px, 3vw, 35px) /*3vw*/ /*35px*/;
}

.titleMessage .heading .sub span {
  color: #fff;
  font-weight: 200;
}

.section {
  padding: 90px 0; /*90*/
}

.aboutImage {
  max-width: 60%;
  display: block; /*me*/
  margin-left: auto; /*me*/
  margin-right: auto; /*me*/
  /*margin-bottom: 100px; /*me*/
  padding-bottom: 30px; /*me*/
  padding-top: 10px; /*me*/
}

.skillsSection,
.contactSection,
.socialSection {
  background-color: #e74c3c;
  color: #fff;
}

.skill {
  text-align: center;
  margin-left: 10px;
  margin-top: 20px; /*me*/
}

.skill h4 {
  margin-top: 20px; /*me*/
}

.skill p {
  margin-top: 10px; /*me*/
}

.chart {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  text-align: center;
}

.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.chart .percent {
  color: #000;
  line-height: 152px;
  display: inline-block;
  font-size: 35px;
}

.chart .percent:after {
  content: "%";
}

.squareItem {
  margin-top: 30px;
  position: relative;
}

.squareInnnerContainer {
  position: relative;
  padding: 50px 15px 35px;
  text-align: center;
  border: 2px solid #444;
  border-top: none;
}

.squareInnnerContainer:before,
.squareInnnerContainer::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 30%;
  border-bottom: 2px solid #444;
}

.squareInnnerContainer:before {
  right: 0px;
}

.squareInnnerContainer:after {
  left: 0px;
}

.squareContent h2 {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #e74c3c;
}

.squareContent h3 {
  font-size: 13px;
  margin-bottom: 0;
  font-weight: 600;
}

.squareIcon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 45px;
  margin-left: -20%;
  color: #444;
}

.contactButton {
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  text-decoration: none;
}

.contactButton:hover {
  color: #e74c3c;
  background-color: #fff;
}

.filter a {
  color: #bdc3c7;
  border: 1px solid #bdc3c7;
  padding: 10px 18px;
  display: block;
  text-decoration: none; /*me*/
  /*text-align: center;*/
}

.filter li {
  display: inline-block;
  padding: 5px;
}

.filter .current {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #fff;
}

.filter {
  text-align: center;
  width: 100%;
}

.section .heading {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
}

.items li {
  display: inline-block;
  padding: 5px;
}

.itemsContainer {
  width: 100%;
}

.items li img {
  width: 100%;

  -webkit-transition: all 0.2s linear 0.2s;
  -moz-transition: all 0.2s linear 0.2s;
  -o-transition: all 0.2s linear 0.2s;
  -ms-transition: all 0.2s linear 0.2s;
  -transition: all 0.2s linear 0.2s;
}

.items .item {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 10%;
}

.items .icons {
  position: absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px auto 0 -20px;
  text-align: center;
  z-index: 3;
}

.items .icons i {
  color: #fff;
  font-size: 20px;
  margin-top: 9px;
}

.items a {
  width: 40px;
  height: 40px;
  background-color: #e74c3c;
  position: relative;
  display: inline-block;

  -webkit-transition: all 0.2s linear 0.2s;
  -moz-transition: all 0.2s linear 0.2s;
  -o-transition: all 0.2s linear 0.2s;
  -ms-transition: all 0.2s linear 0.2s;
  -transition: all 0.2s linear 0.2s;
}

.items .imageOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;

  -webkit-transition: all 0.2s linear 0.2s;
  -moz-transition: all 0.2s linear 0.2s;
  -o-transition: all 0.2s linear 0.2s;
  -ms-transition: all 0.2s linear 0.2s;
  -transition: all 0.2s linear 0.2s;
}

.items .item:hover .imageOverlay {
  opacity: 1;
}

.items .openButton {
  float: left;
  left: -300px;
}

.items .projectLink {
  float: right;
  right: -300px;
}

.items .item:hover .openButton {
  left: 0px;
}

.items .item:hover .projectLink {
  right: 0px;
}

.items .item:hover img {
  -webkit-transform: scale(1.05, 1.05);
  /*-moz-transform: scale(1.05, 1.05);*/
  -o-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -transform: scale(1.05, 1.05);
}

.items {
  padding: 0;
}

.copyrightSection {
  background-color: black;
  color: #fff;
  padding: 30px 5px;
}

.copyrightSection p {
  margin: 0;
}

#navigation {
  background-color: #c0392b;
  padding: 20px 10px;
  z-index: 100;
  width: 100%;
  /*height: 30px; me*/
}

#navigation li {
  padding: 0 10px;
}

#navigation li a {
  color: #fff;
  font-weight: 900; /*me*/
}

.navbar-brand,
.navbar-brand:hover {
  color: #fff;
}

.navbar-toggler-icon {
  background: url("../img/icons/icons8-menu-squared-100.png");
  background-size: 100%;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
}

/*me
https://stackoverflow.com/questions/18777235/center-content-in-responsive-bootstrap-navbar
*/
.navbar .navbar-collapse {
  text-align: center;
}

/*
https://stackoverflow.com/questions/68069042/how-an-i-change-the-bootstrap-5-navbar-button-border-and-icon-color
*/
.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  background: url("../img/379.gif") center center no-repeat;
}

#about h4 {
  margin-top: 10px;
  margin-bottom: 30px;
}

#about p {
  text-align: justify;
  text-justify: auto;
}

/*https://www.codegrepper.com/code-examples/css/how+to+make+loader+div+sit+over+fixed+navbar*/
#naviga {
  z-index: 4;
}

#naviga strong {
  font-size: 17px;
}

#naviga strong:hover {
  color: #e74c3c;
}

#naviga li {
  padding: 0 15px;
  font-size: 17px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #e74c3c;
}

.header {
  top: -1px;
}

.wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .telegram:hover,
.wrapper .telegram:hover .tooltip,
.wrapper .telegram:hover .tooltip::before {
  background-color: #229ed9;
  color: #ffffff;
}

.wrapper .tiktok:hover,
.wrapper .tiktok:hover .tooltip,
.wrapper .tiktok:hover .tooltip::before {
  background-color: black;
  color: #ffffff;
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

.wrapper .vk:hover,
.wrapper .vk:hover .tooltip,
.wrapper .vk:hover .tooltip::before {
  background-color: #4c75a3;
  color: #ffffff;
}

/*
.home-demo .item {
  background: #ff3f4d;
}
.home-demo h2 {
  color: #fff;
  text-align: center;
  padding: 5rem 0;
  margin: 0;
  font-style: italic;
  font-weight: 300;
}

#testimonial_area {
  padding: 10% 0;
}
*/
.box-area {
  padding: 30px;
  position: relative;
  display: block;
  background: #fff;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 25px;
}
.box-area h5 {
  font-size: 16px;
  font-weight: 700;
  color: #e74c3c;
  margin-top: 30px;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.box-area span {
  color: #262626;
  display: block;
  font-size: 13px;
  margin: 0 0 10px;
  font-weight: 400;
}
.box-area .content {
  color: #262626;
  font-style: italic;
}
.box-area .img-area {
  width: 90px;
  height: 90px;
  position: absolute;
  top: -40px;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  right: 0;
  z-index: 1;
  border: 5px solid #fff;
  border-radius: 50%;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}
.box-area .img-area img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.socials {
  margin-top: 30px;
}
.socials i {
  margin: 0 10px;
  color: #e74c3c;
  font-size: 18px;
}

#testimonials h2 {
  margin-bottom: 50px;
}

.video-container {
  width: 100%;
  background-color: #fff; /* Sfondo rosso */
  padding: 90px; /* 20px su tutti i lati */
  box-sizing: border-box;
}

.video-container h2 {
  font-family: "Love Ya Like A Sister", cursive;
  /*font-size: 24px; /* Dimensione del font */
  color: #333; /* Bianco per contrasto sullo sfondo rosso */
  text-align: center; /* Centra il testo */
  margin: 0 0 20px 0; /* Spazio sotto il titolo */
}

.video-inner {
  width: 100%;
  max-width: 360px; /* Larghezza di base per mobile */
  margin: 0 auto; /* Centra il video */
}

.video-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 9 / 16; /* Aspect ratio verticale */
  max-height: 640px; /* Altezza di base per mobile */
  overflow: hidden;
  border-radius: 16px; /* Angoli arrotondati */
}

/* Dimensioni intermedie per desktop */
@media (min-width: 768px) {
  .video-inner {
    max-width: 270px; /* Compromesso tra 280px e 260px */
  }
  .video-wrapper {
    max-height: 480px; /* Compromesso tra 498px e 462px */
  }
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Riempie il contenitore */
  border: none;
}
